        <div id="background"></div>
        <ul class="sections">
            <li id="title">
                <div class="annotation">
                    <h1>{% if doc.title %}{{ doc.title  }}{% else %}Annotation App{% endif %}
                        {% if editable %}<button class="btn" id="save_button">Save</button>{% endif %}
                    </h1>
                </div>
                <div class="content">
                    <div>
                        <strong>Annotation App</strong>: 
                        Make Notes On Any Document
                    </div>
                    <div>
                        <ul class="navigation">
                            <li><a href="/">Home</a></li>
                            <li><a class="strike">Examples</a></li>
                            <!--
                            <li><a href="/list/">List</a></li>
                            -->
                            <li><a href="/new/" class="green strong"><i class="fa-plus-circle fa"></i> Create New Document</a></li>
                        </ul>
                    </div>
                    <button id="new_line_button" style="display:none;">Add line</button>
                </div>
            </li>
        </ul>

