{% extends "base.html" %}

{% block extra_css %}
    <link href="http://backbonejs.org/docs/docco.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
    <pre id="output"></pre>
    <div id="container">
        {% include "annotate/_top.html" %}
        <ul id="sections" class="sections">
            {% if not doc_hash %}
                <li>
                    <div class="annotation">
                        <ul>
                            <li><a href="/new/">Create a new document</a></li>
                            <li><a href="/list/">List of all available documents</a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <p></p>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
