{% extends "base.html" %}

{% block extra_css %}
    <link href="http://backbonejs.org/docs/docco.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
    <pre id="output"></pre>
    <div id="container">
        {% include "annotate/_top.html" %}
        <ul id="sections" class="sections">
            {% if not doc_hash %}
                <li>
                    <div class="annotation">
                        <p>
                            This is a simple web app that lets you create text documents with side-by-side annotations.
                        </p>
                        <p>
                            I am primarily interested in these 2 use cases:
                        </p>
                    </div>
                    <div class="content">
                    </div>
                </li>

                <li>
                    <div class="annotation">
                        <p>
                            <strong>1. Explaining Computer Programs</strong> - Software code can
                            often be dense and difficult to understand, especially when examining
                            someone else's work or a new programming language.
                        </p>
                        <p>
                            In fact, this app was <strike>directly copied from</strike> inspired by
                            <a href="http://backbonejs.org/docs/backbone.html" title="Sorry backbone fellas, I'm even shamelessly linking directly to your css!"style="text-decoration:underline; color: blue;">an explanation designed to teach people how to use
                            a new javascript framework</a> called <em>backbone.js</em>.
                        </p>
                        <p><a class="btn btn-default quiet" href="http://backbonejs.org/docs/backbone.html">View An Example of Code Commenting</a></p>
                    </div>
                    <div class="content">
                        <p style="font-size:1.3em;" class="strong">Seriously, it's awesome!</p>
                        <ul>
                            <li>No Sign Up Required.</li>
                            <li>100% Fat Free.</li>
                            <li>100% Gluten Free.</li>
                        </ul>
                        <br>
                        <p class="text-center">
                            <a href="{% url 'edit_annotateddoc' doc_hash='52ab6839bdb76a00070d71ac' %}" class="btn btn-success btn-lg strong">Try Annotating A Document Now</a>
                        </p>
                        <p style="display:none">
                            Children's books are great because they provide a lot of repetition,
                            generally simple sentence structure, and mirror actual daily
                            usage patterns more than most textbook studies.<br><br>
                            Side by side annotation (like this note) keep comments, definitions,
                            grammatical pattern explanations, etc near the actual reference
                            text and makes learning more efficient.
                        </p>
                    </div>
                </li>

                <li>
                    <div class="annotation">
                        <p>
                            <strong>2. Foreign Language Translations As An Educational
                            Tool</strong> - I have been helping my friend
                            learn Japanese and we've been going through short children's
                            fictional stories.
                        </p>
                        <p><a class="btn btn-default quiet" href="{% url 'view_annotateddoc' doc_hash='52ab69b9bdb76a00070d71ad' %}">View An Example of Translation Notes</a></p>
                    </div>
                    <div class="content">
                        <p style="display:none">
                            Side by side annotation is very useful for tying the code to the author's
                            intent as they were writing that code.
                            <br><br>
                            In fact, this app was <strike>directly copied from</strike> "inspired by"
                            <a id="yesimlazy" href="http://backbonejs.org/docs/backbone.html" data-toggle="tooltip" title="Sorry backbone fellas, I'm even shamelessly linking directly to your css!"style="text-decoration:underline; color: blue;">an explanation designed to teach people how to use
                            a new javascript framework</a> called <em>backbone.js</em>.
                        </p>
                    </div>
                </li>

            {% endif %}
        </ul>
    </div>
{% endblock %}
