{% extends "annotate/index.html" %}

{% block content %}
    <pre id="output"></pre>
    <div id="container">
        {% include "annotate/_top.html" %}
        <ul id="sections" class="sections">
            <li>
                <div class="annotation">

                    <p>
                    Enter the text you want to annotate. Separate paragraphs with a blank line.
                    </p>

                    <form method="post">{% csrf_token %}
                        {% include "form.html" with buttontext="Annotate This Text!" %}
                    </form>

                </div>
                <div class="content">
                    <p>First type or paste the reference text you want to annotate on the left side.</p>
                    <p>On the next page, that text will appear on the left side again &amp; you'll be able to add annotations to the text in this column.</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

