{% extends "annotate/index.html" %}

{% block content %}
    <pre id="output"></pre>
    <div id="container">
        {% include "annotate/_top.html" %}
        <ul id="sections" class="sections">
            <li>
                <div class="annotation">

                    Enter the text you want to annotate.

                    Currently ignoring the title and slug. Just put it there because it seems like a good idea for the future.
                    <form method="post">{% csrf_token %}
                        {% include "form.html" with buttontext="Annotate This Text!" %}
                    </form>

                </div>
                <div class="content">
                    <div class="text">This is the reference 0</div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

